<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

    <extension
        point="org.eclipse.ui.menus">
        
        <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
            
            <visibleWhen>
                <reference
                    definitionId="net.ssehub.teaching.exercise_submitter.eclipse.isProject">
                </reference>
            </visibleWhen>
            
            <menu
                id="net.ssehub.teaching.exercise_submitter.eclipse"
                label="Exercise Submitter">
                
                <command
                    commandId="net.ssehub.teaching.exercise_submitter.eclipse.submit"
                    tooltip="Submit the selected project" />
                <command 
                	commandId="net.ssehub.teaching.exercise_submitter.eclipse.checkSubmission"
                	tooltip="Check if submission on server matches local project"/>   
                <command 
                    commandId="net.ssehub.teaching.exercise_submitter.eclipse.ViewVersionHistory"
                    tooltip="List the version history of the selected project"/>   
                <command 
                	commandId="net.ssehub.teaching.exercise_submitter.eclipse.clearMarker"
                	tooltip="Clear all Submitter Marker from Selected Projekt"/>   
            </menu>
        </menuContribution>
    </extension>
    
     <extension
        point="org.eclipse.ui.menus">
        
        <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?before=window">
            
            <menu
                id="net.ssehub.teaching.exercise_submitter.eclipse.mainMenu"
                label="Exercise Submitter">
                
                <command
                    commandId="net.ssehub.teaching.exercise_submitter.eclipse.downloadSubmission"
                    tooltip="Download Submission" />
                 <command
                    commandId="net.ssehub.teaching.exercise_submitter.eclipse.showAssignments"
                    tooltip="Show Assignments" />
                 <command
                    commandId="net.ssehub.teaching.exercise_submitter.eclipse.configure"
                    tooltip="Configure" />
                 <command
                    commandId="net.ssehub.teaching.exercise_submitter.eclipse.help"
                    tooltip="Help" />
            </menu>
        </menuContribution>
    </extension>
    
    <extension
          point="org.eclipse.ui.preferencePages">
       <page
             class="net.ssehub.teaching.exercise_submitter.eclipse.preferences.PreferencePage"
             id="net.ssehub.teaching.exercise_submitter.eclipse.preferences.PreferencePage"
             name="Exercise Submitter">
       </page>
    </extension>
    
    <extension
        point="org.eclipse.ui.commands">
        
        <command
            id="net.ssehub.teaching.exercise_submitter.eclipse.submit"
            name="Submit" />
        <command
            id="net.ssehub.teaching.exercise_submitter.eclipse.checkSubmission"
            name="Check Submission" />
       	<command
            id="net.ssehub.teaching.exercise_submitter.eclipse.clearMarker"
            name="Clear Problem Markers" />
        <command
            id="net.ssehub.teaching.exercise_submitter.eclipse.ViewVersionHistory"
            name="View version history" />
        <command
            id="net.ssehub.teaching.exercise_submitter.eclipse.downloadSubmission"
            name="Download Submission" />
        <command
            id="net.ssehub.teaching.exercise_submitter.eclipse.showAssignments"
            name="Show Assignments" />
        <command
            id="net.ssehub.teaching.exercise_submitter.eclipse.configure"
            name="Configure" />
        <command
            id="net.ssehub.teaching.exercise_submitter.eclipse.help"
            name="Help" />
    </extension>
    
    <extension
        point="org.eclipse.ui.handlers">
        
        <handler
            commandId="net.ssehub.teaching.exercise_submitter.eclipse.submit"
            class="net.ssehub.teaching.exercise_submitter.eclipse.actions.SubmitAction" />
        <handler
            commandId="net.ssehub.teaching.exercise_submitter.eclipse.checkSubmission"
            class="net.ssehub.teaching.exercise_submitter.eclipse.actions.CheckSubmission" />
        <handler
            commandId="net.ssehub.teaching.exercise_submitter.eclipse.clearMarker"
            class="net.ssehub.teaching.exercise_submitter.eclipse.actions.ClearMarkerAction" />
         <handler
            commandId="net.ssehub.teaching.exercise_submitter.eclipse.downloadSubmission"
            class="net.ssehub.teaching.exercise_submitter.eclipse.actions.DownloadSubmissionAction" />
         <handler
            commandId="net.ssehub.teaching.exercise_submitter.eclipse.showAssignments"
            class="net.ssehub.teaching.exercise_submitter.eclipse.actions.ShowAssignmentsAction" />
            <handler
            commandId="net.ssehub.teaching.exercise_submitter.eclipse.ViewVersionHistory"
            class="net.ssehub.teaching.exercise_submitter.eclipse.actions.ViewVersionHistoryAction" />
         <handler
            commandId="net.ssehub.teaching.exercise_submitter.eclipse.configure"
            class="net.ssehub.teaching.exercise_submitter.eclipse.actions.ConfigureAction" />
         <handler
            commandId="net.ssehub.teaching.exercise_submitter.eclipse.help"
            class="net.ssehub.teaching.exercise_submitter.eclipse.actions.HelpAction" />
    </extension>
    
    <extension
        point="org.eclipse.core.expressions.definitions">
        
        <definition id="net.ssehub.teaching.exercise_submitter.eclipse.isProject">
            <with
                variable="activeMenuSelection">
                <iterate ifEmpty="false">
                    <adapt type="org.eclipse.core.resources.IProject" />
                </iterate>
            </with>
        </definition>
    </extension>
    
    <extension
        id="net.ssehub.teaching.exercise_submitter.eclipse.problemmarkers"
        name="Submitter Marker"
        point="org.eclipse.core.resources.markers">
          
        <super type="org.eclipse.core.resources.problemmarker" />
        <attribute name="key"/>
        <attribute name="rule"/>
        <persistence value="true" />
    </extension>
    
    <extension
        point="org.eclipse.ui.decorators">
        
        <decorator
            id="net.ssehub.teaching.exercise_submitter.eclipse.assignmentDecorator"
            label="Last Exercise Submitter Assignment"
            state="true"
            adaptable="true"
            class="net.ssehub.teaching.exercise_submitter.eclipse.labels.AssignmentLabelDecorator">
        
            <enablement>
                <objectClass name="org.eclipse.core.resources.IProject" />
            </enablement>
        </decorator>
    </extension>
</plugin>
